.box{width : 100%; height : 100%; background-color: wheat; opacity: 70%;}
.sm-dragbox{
    display: inline-block;
    position: absolute;
    border: 1px solid turquoise;
}
.sm-dragbox.hide{
    opacity: 0%;
}
.sm-dragbox.show{
    opacity: 100%;
}